<div class="container">
    <h2 class="mt-4">Update List</h2>
    <a href="/courses/trash-courses">Go to trash ({{countCourseDelete}})</a>
    <div class="mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">Decription</th>
                    <th scope="col">Course created</th>
                    <th scope="col">Course updated</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each Course}}
                    <tr>
                        <th scope="row">{{sum @index 1}}</th>
                        <td>{{this.name}}</td>
                        <td>{{this.decription}}</td>
                        <td>{{this.createdAt}}</td>
                        <td>{{this.updatedAt}}</td>
                        {{!-- <td>
                            <form method="GET" action="/courses/{{this._id}}/edit-course">
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </form>
                        </td> --}}
                        <td>
                            <a class="btn btn-primary" href="/courses/{{this._id}}/edit-course" role="button">Edit</a>
                        </td>
                        <td>
                            <a class="btn btn-primary addIdOnAction" href="#" role="button" data-toggle="modal" data-target="#deletecoursemodal" data-iddeletecourse="{{this._id}}">Remove</a>
                        </td>
                    </tr>
 
                    {{else}}
                    <tr>
                        <td colspan="5" class="text-center">
                            There are currently no courses available. 
                            <a href="/courses/create">Click here to create course</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>  
</div>
{{!-- 
<div id="deletecoursemodal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to delete this course ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> --}}

<form id="eventRemoveCourse" method="POST" action=""></form>

{{!-- /courses/{{this._id}}/delete-course?_method=DELETE --}}

<script>

    document.addEventListener("DOMContentLoaded", function () {

        var formDelete = document.querySelector('#eventRemoveCourse');
        var idCourse;

        $('.addIdOnAction').click(function (e) {
            var idCourse = $(this).data('iddeletecourse');
            e.preventDefault();
            formDelete.setAttribute('action', `/courses/${idCourse}/delete-course?_method=DELETE`);
            formDelete.submit();
        })

    });

</script>